.change-color-button
{
    background-color: black;
    color: white;
    padding: 10px;
    border-style: groove;
    border-radius: 45px;
    cursor: pointer;
}
#least
{
    background-color: black;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    
}
#least li
{
    color: white;
    font-family: fantasy;
    font-size: 30px;
}
.div
{
    font-family: sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 10px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#second-div
{
    background-color: black;
    padding: 10px;
    border: 3px;
    border-radius: 25px;
    border-color: chocolate;
    border-style: solid;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#second-div td
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    padding: 25px;
}
#h1-1
{
    font-size: 50px;
    text-align: center;
}
#h1-2
{
    font-size: 45px;
    text-align: center;
}
.ppp
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
button
{
    padding: 10px;
    background-color: black;
    border: 3px;
    border-radius: 25px;
    border-style: solid;
    border-color: chocolate;
    color: white;
    cursor: pointer;
}